<h1>@ngrx/store Party Planner smart component</h1>
<div class="margin-bottom-10">
  Percent Attendance: {{percentAttendance | async}}%
</div>

<person-input (addPerson)="addPerson($event)">
</person-input>

<person-list [people]="(model | async)?.people" (addGuest)="addGuest($event)" (removeGuest)="removeGuest($event)" (removePerson)="removePerson($event)"
  (toggleAttending)="toggleAttending($event)">
</person-list>

<filter-select (updateFilter)="filterPeople($event)">
</filter-select>

<party-stats [invited]="(model | async)?.total" [attending]="(model | async)?.attending" [guests]="(model | async)?.guests">
</party-stats>