<h1>@ngrx/store Party Planner smart component</h1>
<person-input (addPerson)="addPerson($event)">
</person-input>

<person-list [people]="people$ | async" [filter]="filter$ | async" (addGuest)="addGuest($event)" (removeGuest)="removeGuest($event)"
  (removePerson)="removePerson($event)" (toggleAttending)="toggleAttending($event)">
</person-list>

<filter-select (updateFilter)="filterPeople($event)">
</filter-select>

<party-stats [invited]="(people$ | async)?.length" [attending]="(attending$ | async)?.length" [guests]="(guests$ | async)">
</party-stats>